<header class="header">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-lg container-fluid">
      <a href="" class="navbar-brand">
        <img 
          src="{{ asset('images/logo.png') }}" 
          alt="Logo du site" 
          title="Lien vers la page principale" 
          srcset="{{ asset('images/logo.png') }}"
        >
      </a>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbar-nav" 
        aria-controls="navbar-nav" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-nav">
        <ul class="navbar-nav me-auto me-lg-0 my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Quiz</a>
          </li>
          <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
            <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
            <hr class="d-lg-none my-2 text-white-50">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Importer</a>
          </li>
          <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
            <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
            <hr class="d-lg-none my-2 text-white-50">
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Toto
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Mon profil</a></li>
              <li><a class="dropdown-item" href="#">Gestion des utilisateurs</a></li>
              <li><a class="dropdown-item" href="#">Gestion des requests</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Se déconnecter</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <span data-current-icon class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-circle-half"></i>
            </span>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <button data-theme-toggler class="dropdown-item d-flex align-items-center">
                  <i class="bi bi-sun me-2" data-theme-value="light"></i>
                  Light
                </button>
              </li>
              <li>
                <button data-theme-toggler class="dropdown-item d-flex align-items-center">
                  <i class="bi bi-moon-stars me-2" data-theme-value="dark"></i>
                  Dark
                </button>
              </li>
              <li>
                <button data-theme-toggler class="dropdown-item d-flex align-items-center active">
                  <i class="bi bi-circle-half me-2" data-theme-value="auto"></i>
                  Auto
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>